<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NolanStatics.Properties.Settings.NolanConnectionString"
            connectionString="Data Source=192.168.65.2;Initial Catalog=Nolan;Persist Security Info=True;User ID=admin;Password=Admin123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>