<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DLLs.Properties.Settings.NolanConnectionString" connectionString="Data Source=192.168.65.2;Initial Catalog=Nolan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>